.btn {
  cursor: pointer;
  padding: 16px;
  border-radius: var(--big-border-radius);
  border: 1px solid transparent;
}

.btn.main {
  background-color: var(--primary-color);
  color: #fff;
  border: 2px solid transparent;
  transition: all linear 0.1s;
}

/* .btn.main:hover {
  background-color: #fff;
  color: #4bcfa0;
  border: 2px solid #4bcfa0;
} */

.btn.submit {
  text-transform: uppercase;
  font-weight: 500;
}
